* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Quicksand&display=swap');

body {
  font-family: 'DM Mono', monospace;
  color: #333;
  background-color: #caccce;
  font-size: 16px;
  line-height: 1.5;
}

header .container img {
  width: 100%;
  height: 200px;
}

section .container {
  background-color: #caccce;
  box-shadow: none;
}

h1 h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 10px auto;
  padding: 0 1rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar .container {
  background-color: #0077b5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

footer .container{
  background-color: #0077b5;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.current {
  opacity: 0.7;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover{
  color: lightblue;
}

header img {
  max-width: 400px;
}

header .container{
  display: flex;
  height: 400px;
  justify-content: space-between;
  align-items: center;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.box {
  background-color: #fff;
  height: 150px;
  margin: 10px;
  padding: 5px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.box i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
  }

  .boxes .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    }
}